.phonebook {
  margin: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  font-weight: bold;
}

.label {
  display: flex;
  flex-direction: column;
  display: block;
  margin-bottom: 20px;
}
.input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input:focus {
  outline: cornflowerblue 4px solid;
}

.button {
  display: block;
  border-radius: 4px;
  width: 100px;
  border: 1px solid rgb(187, 184, 184);
  background-color: white;
  font-weight: bold;
}

.li {
  font-weight: bold;
}

.span {
  margin-left: 5px;
}
